<div class="jumbotron container media text-center">
<div class="media-left media-start"><img class="media-object" src="{{model.image}}"></div>
  <div class="media-body">
    <h1 class="media-heading">{{model.title}}</h1>
    <hr>
    <div>
      <h3 class="lead">{{model.type}}</h3>
    </div>
    <div>
      <h3 class="lead">{{model.rate}}</h3>
    </div>
    <hr>
  </div>
    <div class="lead">
        <p >{{model.description}}</p></div>
  </div>
{{outlet}}
